/* page:Primary|cd3524f0-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
$color-background-primary--main: #0061a3;
$color-background-primary--light-00: #e7f5ff;
$color-background-primary--light-01: #f8fcff;
$color-background-primary--dark-00: #00243d;
$color-background-primary--hover: #007fd6;
$color-background-primary--active: #004d81;
$color-background-primary--selected: #004d81;
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Primary:end */
/* page:Neutral|cd3524f4-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
$color-background-neutral--black: #000000;
$color-background-neutral--white: #ffffff;
$color-background-neutral--light-00: #e6e6e6;
$color-background-neutral--light-01: #f0f0f0;
$color-background-neutral--light-02: #fafafa;
$color-background-neutral--disable: #dddddd;
$color-background-neutral--dark-00: #272727;
$color-background-neutral--dark-01: #1e1e1e;
$color-background-neutral--dark-03: #141414;
$color-background-neutral--main: #313131;
$color-background-neutral--hover: #454545;
$color-background-neutral--active: #595959;
$color-background-neutral--selected: #595959;
$color-background-neutral--modal-background: rgba(0, 0, 0, 0.6);
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Neutral:end */
/* page:Error|cd3524f6-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
$color-background-error--main: #ba1a1a;
$color-background-error--light-00: #fce8e8;
$color-background-error--light-01: #fef7f7;
$color-background-error--dark-00: #430909;
$color-background-error--hover: #e12626;
$color-background-error--active: #9c1616;
$color-background-error--selected: #9c1616;
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Error:end */
/* page:Success|cd3524f8-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
$color-background-success--main: #236c2d;
$color-background-success--light-00: #eaf8ec;
$color-background-success--light-01: #f7fcf8;
$color-background-success--dark: #0e2c12;
$color-background-success--hover: #2f923d;
$color-background-success--active: #1b5222;
$color-background-success--selected: #1b5222;
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Success:end */
/* page:Information|cd3524fa-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
$color-background-information--main: #2196f3;
$color-background-information--light-00: #64b5f6;
$color-background-information--light-01: #f4fafe;
$color-background-information--dark-00: #1976d2;
$color-background-information--hover: #42a5f5;
$color-background-information--active: #bbdefb;
$color-background-information--selected: #1e88e5;
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Information:end */
/* page:Warning|cd3524fc-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
$color-background-warning--main: #ffa800;
$color-background-warning--light-00: #fff6dd;
$color-background-warning--light-01: #fffaee;
$color-background-warning--dark: #d16c0e;
$color-background-warning--hover: #ffbb00;
$color-background-warning--active: #f09000;
$color-background-warning--selected: #f09000;
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Warning:end */
/* page:Calendar|cd3524fe-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
$color-background-calendar--saturday: #f4fafe;
$color-background-calendar--holiday: #fef7f7;
$color-background-calendar--before-holiday: #fffaee;
$color-background-calendar--saturday-hover: #d1eaff;
$color-background-calendar--holiday-hover: #fce8e8;
$color-background-calendar--before-holiday-hover: #fff6dd;
$color-background-calendar--closed: rgba(0, 0, 0, 0.08);
$color-background-calendar--category: rgba(0, 0, 0, 0.02);
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Calendar:end */
/* page:Text|cd352500-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
$color-content-text--main: #313131;
$color-content-text--light: #727272;
$color-content-text--placeholder: #bcbcbc;
$color-content-text--white: #ffffff;
$color-content-text--primary: #0061a3;
$color-content-text--critical: #ba1a1a;
$color-content-text--success: #236c2d;
$color-content-text--warning: #ffa800;
$color-content-text--disable: #bcbcbc;
/*   category:Timing Function */
/* page:Text:end */
/* page:Primary|cd352503-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
$color-content-primary--main: #0061a3;
$color-content-primary--light: #007fd6;
$color-content-primary--dark: #004d81;
/*   category:Timing Function */
/* page:Primary:end */
/* page:Neutral|cd352505-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
$color-content-neutral--black: #000000;
$color-content-neutral--light-00: #727272;
$color-content-neutral--light-01: #bcbcbc;
$color-content-neutral--white: #ffffff;
$color-content-neutral--disable: #bcbcbc;
$color-content-neutral--main: #313131;
$color-content-neutral--dark-00: #272727;
/*   category:Timing Function */
/* page:Neutral:end */
/* page:Error|cd352507-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
$color-content-error--main: #ba1a1a;
$color-content-error--light-00: #e12626;
$color-content-error--dark-00: #9c1616;
/*   category:Timing Function */
/* page:Error:end */
/* page:Success|cd352509-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
$color-content-success--main: #236c2d;
$color-content-success--light-00: #2f923d;
$color-content-success--dark-00: #1b5222;
/*   category:Timing Function */
/* page:Success:end */
/* page:Information|cd35250b-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
$color-content-information--main: #2196f3;
$color-content-information--light-00: #64b5f6;
$color-content-information--dark-00: #1976d2;
/*   category:Timing Function */
/* page:Information:end */
/* page:Warning|cd35250d-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
$color-content-warning--main: #ffa800;
$color-content-warning--light-00: #ffbb00;
$color-content-warning--dark-00: #f09000;
/*   category:Timing Function */
/* page:Warning:end */
/* page:Calendar|cd35250f-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
$color-content-calendar--limited: #2196f3;
$color-content-calendar--specific: #f09000;
$color-content-calendar--saturday: #0061a3;
$color-content-calendar--holiday: #ba1a1a;
$color-content-calendar--before-holiday: #e48900;
/*   category:Timing Function */
/* page:Calendar:end */
/* page:Neutral|cd354c00-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
$color-border-neutral--outline: #e0e0e0;
$color-border-neutral--input: #bcbcbc;
$color-border-neutral--black: #000000;
$color-border-neutral--white: #ffffff;
$color-border-neutral--main: #313131;
$color-border-neutral--dark: #272727;
$color-border-neutral--light: #727272;
$color-border-neutral--disable: #bcbcbc;
$color-border-neutral--divider-light: #e0e0e0;
$color-border-neutral--divider-dark: rgba(224, 224, 224, 0.2);
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Neutral:end */
/* page:Primary|cd354c03-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
$color-border-primary--main: #0061a3;
$color-border-primary--light-00: #007fd6;
$color-border-primary--dark-00: #004d81;
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Primary:end */
/* page:Success|cd354c05-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
$color-border-success--main: #236c2d;
$color-border-success--light-00: #2f923d;
$color-border-success--dark-00: #1b5222;
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Success:end */
/* page:Information|cd354c07-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
$color-border-information--main: #2196f3;
$color-border-information--light-00: #64b5f6;
$color-border-information--dark-00: #1976d2;
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Information:end */
/* page:Warning|cd354c09-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
$color-border-warning--main: #ffa800;
$color-border-warning--light-00: #ffbb00;
$color-border-warning--dark-00: #f09000;
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Warning:end */
/* page:Error|cd354c0b-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
$color-border-error--main: #ba1a1a;
$color-border-error--light-00: #e12626;
$color-border-error--dark-00: #9c1616;
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Error:end */
/* page:Slot|cd354c0d-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
$color-slot-slot01: #b0cdf8;
$color-slot-slot01-hover: rgba(176, 205, 248, 0.32);
$color-slot-slot02: #c3e895;
$color-slot-slot02-hover: rgba(195, 232, 149, 0.32);
$color-slot-slot03: #d5bdeb;
$color-slot-slot03-hover: rgba(213, 189, 235, 0.32);
$color-slot-slot04: #dedfa9;
$color-slot-slot04-hover: rgba(222, 223, 169, 0.32);
$color-slot-slot05: #dfbda9;
$color-slot-slot05-hover: rgba(223, 189, 169, 0.32);
$color-slot-slot06: #b3e3c1;
$color-slot-slot06-hover: rgba(179, 227, 193, 0.32);
$color-slot-slot07: #dfa9c6;
$color-slot-slot07-hover: rgba(223, 169, 198, 0.32);
$color-slot-slot08: #a4b0eb;
$color-slot-slot08-hover: rgba(164, 176, 235, 0.32);
$color-slot-slot09: #a8dae4;
$color-slot-slot09-hover: rgba(168, 218, 228, 0.32);
$color-slot-slot10: #d3abb2;
$color-slot-slot10-hover: rgba(211, 171, 178, 0.32);
$color-slot-sloterror: #ffc9c9;
$color-slot-sloterror-hover: rgba(255, 182, 182, 0.32);
$color-slot-multiple-line: rgba(250, 250, 250, 0.6);
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Slot:end */
/* page:Size|cd357310-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
$font-size-5xl: 46px;
$font-size-4xl: 40px;
$font-size-3xl: 32px;
$font-size-2xl: 24px;
$font-size-xl: 20px;
$font-size-ll: 18px;
$font-size-large: 16px;
$font-size-base: 14px;
$font-size-small: 13px;
$font-size-xs: 12px;
$font-size-2xs: 10px;
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Size:end */
/* page:Weight|cd357312-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
$font-weight-regular: 400;
$font-weight-bold: 700;
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Weight:end */
/* page:Elevation|cd357314-648a-11ed-9a55-a7067976f8d7:start */
/*   category:Background Color */
/*   category:Background Image */
/*   category:Border Color */
/*   category:Border Width */
/*   category:Delay */
/*   category:Duration */
/*   category:Font Family */
/*   category:Font Size */
/*   category:Font Weight */
/*   category:LineHeight */
/*   category:Margin */
/*   category:Opacity */
/*   category:Padding */
/*   category:Radius */
/*   category:Shadow */
$shadow-panel-default: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
$shadow-drawer: 2px 0px 5px 0px rgba(0, 0, 0, 0.1);
$shadow-dialog: 0px 20px 40px 0px rgba(0, 0, 0, 0.2);
$shadow-panel-0: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
$shadow-panel-1: 0px 0px 2px 0px rgba(0, 0, 0, 0.14),
  0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
$shadow-panel-2: 0px 2px 4px 0px rgba(0, 0, 0, 0.14),
  0px 3px 4px 0px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
$shadow-panel-3: 0px 3px 3px 0px rgba(0, 0, 0, 0.14),
  0px 3px 4px 0px rgba(0, 0, 0, 0.12), 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
$shadow-panel-4: 0px 2px 4px 0px rgba(0, 0, 0, 0.14),
  0px 4px 5px 0px rgba(0, 0, 0, 0.12), 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
$shadow-panel-6: 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12), 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
$shadow-panel-8: 0px 8px 10px 0px rgba(0, 0, 0, 0.14),
  0px 3px 14px 0px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
/*   category:Spacing */
/*   category:Text Color */
/*   category:Timing Function */
/* page:Elevation:end */
